$font-size: 14px;


$default-color: #333;

//状态
$primary-color: #337ab7;
$primary-background-color: #337ab7;
$primary-border-color:  #2e6da4;

$success-background-color: #5cb85c;
$success-border-color:  #4cae4c;

$warning-background-color: #ec971f;
$warning-border-color:  #d58512;

$danger-background-color: #d9534f;
$danger-border-color:  #d43f3a;

@mixin state($states){
    @each $state in $states {
        @if $state=="primary" {
            $state-text-color: #fff !global;
            $state-background-color: $primary-background-color !global;
            $state-border-color: $primary-border-color !global;
        }
        @else if $state=="success"{
            $state-text-color: #fff !global;
            $state-background-color: $success-background-color !global;
            $state-border-color: $success-border-color !global;
        }
        @else if $state=="warning"{
            $state-text-color: #fff !global;
            $state-background-color: $warning-background-color !global;
            $state-border-color: $warning-border-color !global;
        }
        @else if $state=="danger"{
            $state-text-color: #fff !global;
            $state-background-color: $danger-background-color !global;
            $state-border-color: $danger-border-color !global;
        }
        @else {
            @warn "$state must be one of these: 'primary', 'success', 'warning', 'danger'. Current value is '#{$state}'.";
        }
        &-#{$state} {
            @content;
        }
    }
}